.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 26px;
  border-bottom: 1px solid #e8e0d2;
}
@media (max-width: 700px) {
  .header {
    padding-block: 20px;
    position: relative;
  }
}
.fallback {
  display: none;
}
@media (max-width: 700px) {
  .fallback {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
  }
  .header:has(.fallback) {
    flex-wrap: wrap;
  }
}
