.link {
  display: inline-flex;
  gap: var(--space-6);
  align-items: center;
  background: var(--color-wine);
  color: var(--color-on-wine);
  padding: 17px 23px;
  font-size: 12px;
}
.link:hover {
  background: var(--color-wine-light);
}
.link span {
  font-size: 18px;
}
.light {
  background: #efe3cb;
  color: var(--color-wine);
  margin-top: 10px;
}
.light:hover {
  background: #fff3dc;
}
