.card-art {
  height: 310px;
  overflow: hidden;
  position: relative;
}
.card-art > span {
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 11px;
  color: #fff;
  padding: 7px;
  border: 1px solid #ffffff66;
}
.silk img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  transition: transform var(--transition-image);
}
.card:hover .silk img {
  transform: scale(1.04);
}
.wedding {
  background: radial-gradient(
    ellipse at 50% 100%,
    #c49b62,
    #bb7458 60%,
    #9a503c
  );
  display: flex;
  align-items: end;
  justify-content: center;
}
.arch {
  width: 66%;
  height: 88%;
  border-radius: 150px 150px 0 0;
  border: 1px solid #f2cb8d;
  background:
    repeating-linear-gradient(90deg, transparent 0 23px, #e6ae5f33 24px 26px),
    #893843;
  box-shadow:
    0 0 0 12px #c99160,
    0 0 0 13px #edc68c;
  display: grid;
  place-items: center;
}
.arch span {
  font-size: 130px;
  color: #d1a557;
  font-weight: 100;
}
.family {
  background: #d6d4c1;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 0;
}
.fabric {
  width: 34%;
  height: 90%;
  border-radius: 50% 50% 0 0;
  transform: rotate(-14deg);
  background: repeating-linear-gradient(
    90deg,
    #354d45,
    #627569 15%,
    #344d43 26%
  );
  box-shadow: 5px 0 20px #0002;
}
.fabric-two {
  height: 76%;
  background: repeating-linear-gradient(
    90deg,
    #b68a56,
    #e3cda3 15%,
    #bd925d 26%
  );
  transform: rotate(8deg);
}
.fabric-three {
  height: 96%;
  background: repeating-linear-gradient(
    90deg,
    #886559,
    #c7a692 15%,
    #93705d 26%
  );
  transform: rotate(15deg);
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.card-title h3 {
  font-size: 26px;
  margin: 0;
}
.card-title > span {
  color: var(--color-gold);
  font-size: 22px;
}
.card p {
  font-size: 12px;
  color: var(--color-text-muted);
  margin-top: 12px;
  max-width: 320px;
}
@media (max-width: 1000px) {
  .card-art {
    height: 250px;
  }
  .card-title h3 {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .card-art {
    height: 330px;
  }
  .card p {
    max-width: none;
  }
  .card-title {
    margin-top: 17px;
  }
  .card-title h3 {
    font-size: 26px;
  }
}
.arch [data-ornament] {
  width: 130px;
  height: 130px;
}
